@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<title>@ViewBag.Title</title>
	<link href="~/css/buzzoff.min.css" asp-append-version="true" rel="stylesheet" />
	@RenderSection("PageJS", required: false)
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="theme-color" content="#ffffff">
	<meta property="og:image" content="https://buzzoff.hypnovir.us/android-chrome-512x512.png" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />
	<meta property="og:url" content="https://buzzoff.hypnovir.us">
	<meta property="og:site_name" content="@ViewBag.Title">
	<meta property="og:title" content="@ViewBag.Title">
	<meta property="og:locale" content="en_US">
	<meta property="og:description" content="A tool for determining who buzzed in, raised their hand, or otherwise was first.">
</head>

<body class="center">
	@RenderBody()
	<hr />
	<a href="~/help.min.html" target="_blank">Help and FAQ</a><br />
	<a href="https://hypnovir.us" target="_blank">More tools like this</a>
</body>
</html>
