@page "/"
@model BuzzOff.Server.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = $"Buzz Off!";
    ViewData["JSPaths"] = Model.JavascriptPaths;
}
<h2>Welcome to Buzz Off!</h2>
<h3>A simple website for running quiz shows, classes, and anything else that needs to know who "buzzed in" first.</h3>

<label for="roomname">Room name to create or join:</label>
<br />
<input id="roomname" type="text" value="@Model.SuggestedName" size="44" class="center" />
<p><label for="output">Click here to enter, then send the link to your friends:</label></p>
@*Fill in the link section so you don't get that jarring jump between when the page loads and when the javascript fills it in.**@
<p><a href="https://buzzoff.hypnovir.us/Room/@Model.SuggestedName" class="click-this" id="output">https://buzzoff.hypnovir.us/Room/@Model.SuggestedName</a></p>
<p class="top">@Model.FlankEmoji By Grace Danger Lovelace @Model.FlankEmoji</p>
<p><a href="https://github.com/Kansattica/BuzzOff">https://github.com/Kansattica/BuzzOff</a></p>
<p>Built from commit <a href="https://github.com/Kansattica/BuzzOff/commit/@(BuzzOff.Server.BuildInfo.GitHash)">@BuzzOff.Server.BuildInfo.ShortGitHash</a> at @BuzzOff.Server.BuildInfo.BuildTimestamp.</p>